.feature-item {
  padding: 30px 15px;
  text-align: center;

  &--highlight {
    color: $light-text;
    background-color: $background-highlight;
  }

  &--highlight .feature-item__description {
    color: inherit;
  }
}

.feature-item__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.44;
}

.feature-item__description {
  line-height: 1.5;
  color: $secondary-text;
}
