.search-hotel__wrapper {
  padding: 30px 20px 50px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 60px 150px;
  }
}

.search-hotel__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 21px;
  line-height: 1.24;
  text-transform: uppercase;
}

.search-hotel__description {
  margin-bottom: 30px;
  line-height: 1.71;
  color: $secondary-text;
  text-transform: uppercase;
}

.search-hotel__map {
  height: 350px;
}
