.field__group {
  @media (min-width: $desktop-width) {
    width: 100%;
    max-width: 316px;
  }
}

.field__label {
  line-height: 1.86;
  text-transform: uppercase;
  color: $secondary-text;

  &:hover .field__input-choice {
    background-color: $input-hover;
  }

  &--hidden {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.field__input {
  width: 100%;
  padding: 13px 18px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.44;
  background-color: $input-background;
  border: 4px solid $input-background;

  &:hover {
    background-color: $input-hover;
    border: 4px solid $input-hover;
  }

  &:active,
  &:focus {
    background-color: transparent;
    border: 4px solid $input-hover;
    outline: none;
  }
}

.field__input-choice {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 58px;
  margin-right: 20px;
  background-color: #f2f2f2;
  cursor: pointer;
}

.field__helper {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.86;
  text-transform: none;
  cursor: pointer;

  &:hover::before {
    background-color: $input-hover;
  }
}
