.review-form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 0;
  }
}

.review-form__fieldset {
  margin: 0;
  border: none;
  padding: 0;

  @media (max-width: $mobile-width-only) {
    padding: 0 20px;
  }

  &:not(:last-of-type) {
    @media (max-width: $mobile-width-only) {
      border-bottom: 1px solid $decoration-line;
    }
  }

  &--vertical {
    @media (min-width: $tablet-width) {
      padding-left: 58px;
      border-left: 1px solid $decoration-line;
    }

    @media (min-width: $desktop-width) {
      padding-left: 80px;
    }
  }

  &--vertical .review-form__legend {
    @media (min-width: $tablet-width) {
      margin-bottom: 60px;
      text-align: left;
    }
  }

  &--vertical .field {
    display: flex;
    align-items: center;
  }

  &--vertical .field__label {
    margin-right: 15px;
  }

  &--horisontal {
    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;
    }
  }

  &--horisontal .field:not(:last-child) {
    @media (min-width: $desktop-width) {
      margin-right: 80px;
    }
  }

  &--horisontal .review-form__legend {
    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 60px;
    }
  }

  &--horisontal .field-list {
    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr;
      gap: 0;
    }
  }

  &--horisontal .field {
    @media (min-width: $desktop-width) {
      display: flex;
      align-items: center;
    }
  }

  &--horisontal .field__label {
    display: inline-block;
    margin: 0 0 8px 22px;

    @media (min-width: $desktop-width) {
      margin: 0 15px 0 0;
    }
  }

  &--checkbox {
    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;
    }
  }

  &--checkbox .review-form__legend {
    @media (min-width: $tablet-width) {
      margin-bottom: 40px;
    }
  }

  &--checkbox .field-list {
    @media (min-width: $tablet-width) {
      grid-template-columns: repeat(2, max-content);
      gap: 30px 70px;
      justify-content: center;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(4, max-content);
      justify-content: space-between;
    }
  }

  &--checkbox .field__label {
    display: flex;
    align-items: center;
  }

  &--checkbox .field__input-choice {
    border-radius: 10px;
  }

  &--checkbox .field__input:checked + .field__input-choice::before {
    content: "";
    position: absolute;
    left: 20px;
    top: -4px;
    bottom: 0;
    width: 20px;
    height: 12px;
    margin: auto;
    border-left: 3px solid $input-checked;
    border-bottom: 3px solid $input-checked;
    transform: rotate(-45deg);
  }

  &--radiobutton {
    order: -1;
  }

  &--radiobutton .review-form__legend {
    @media (min-width: $tablet-width) {
      margin-bottom: 60px;
      text-align: left;
    }
  }

  &--radiobutton .field__label {
    display: flex;
    align-items: center;
  }

  &--radiobutton .field__input-choice {
    border-radius: 50%;
  }

  &--radiobutton .field__input:checked + .field__input-choice::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    background-color: $input-checked;
  }

  &--textarea {
    grid-column: 1 / -1;
  }

  &--textarea .review-form__legend {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
    }
  }
}

.review-form__legend {
  padding: 20px 0 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.44;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 1.24;
  }
}

.review-form__data-processing {
  grid-column: 1 / -1;
  padding: 35px 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-between;
  }
}

.review-form__button {
  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.review-form__notice {
  text-transform: uppercase;
}
