.review {
  @media (min-width: $tablet-width) {
    max-width: calc(100% - 120px);
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: calc(100% - 240px);
  }
}

.review__info {
  padding: 40px 20px;
  border-bottom: 1px solid $decoration-line;

  @media (min-width: $tablet-width) {
    padding: 60px 40px;
    border-bottom: none;
  }

  .text-info__title {
    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 0.87;
    }
  }

  .text-info__dscription {
    @media (min-width: $tablet-width) {
      line-height: 1.71;
    }
  }

  br {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }
}
