.button {
  width: 100%;
  font-weight: bold;
  font-size: 21px;
  line-height: 1.24;
  font-family: inherit;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $button-background;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $button-background--hover;
  }

  &:active {
    color: $button-text--active;
    background-color: $button-background--active;
  }
}
