.copyright__link {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.86;
  text-transform: uppercase;
}

.copyright__text {
  margin-right: 12px;

  @media (min-width: $tablet-width) {
    margin: 0 13px;
  }
}
