.hero {
  position: relative;
  height: 389px;

  @media (min-width: $tablet-width) {
    height: 520px;
  }

  &--small {
    height: 158px;

    @media (min-width: $tablet-width) {
      height: 292px;
    }

    @media (min-width: $desktop-width) {
      height: 302px;
    }
  }
}

.hero__background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
