.page-header {
  position: relative;
  height: 100%;
  min-height: 56px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.page-header__toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 22px;
  height: 22px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__logo {
  @media (min-width: $tablet-width) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
