.page-header {
  position: relative;
  text-align: center;
  height: 100%;
  min-height: 56px;
}

.page-header__toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 22px;
  height: 22px;
}
