.site-list__item {
  @media (max-width: $mobile-width-only) {
    background-color: $menu-background;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  &:nth-child(3) {
    @media (min-width: $tablet-width) {
      grid-column: 4;
    }
  }

  &:hover .site-list__link {
    color: $menu-text--hover;

    @media (max-width: $mobile-width-only) {
      background-color: $menu-background--hover;
    }
  }

  &--active {
    @media (max-width: $mobile-width-only) {
      background-color: $menu-background--active;
    }
  }

  &--active .site-list__link {
    color: $menu-text--active;
  }

  &--active:hover .site-list__link {
    color: $menu-text--active;

    @media (min-width: $tablet-width) {
      background-color: transparent;
    }
  }
}

.site-list__link {
  display: flex;
  height: 56px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 2.22;
  text-transform: uppercase;
  color: $light-text;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 1.86;
    color: $primary-text;
  }
}
