.text-info {
  text-align: center;
}

.text-info__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.44;
  text-transform: uppercase;
}

.text-info__description {
  line-height: 1.86;
  color: $secondary-text;
  text-transform: uppercase;
}
